/***********************************
* The Italian Academy Website
* Gary Zhang
* February  5, 2008
***********************************/

.accordion_toggle {
	color: #000;
	font-weight: normal;
	outline: none;
	font-size: 15px;
	color: #000000;
	cursor: pointer;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}

.accordion_toggle:hover {
	color: #fff;

}

.accordion_toggle_active {
	color: #000;
	/*font-weight: bold;*/
}
.accordion_content {
	color: #000000;
	overflow: hidden;
	margin: 0 0 0px 20px;
}